@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
html,body{
    width: 100%;
    height:100%;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif; 
}

.italy{
	float: left;
	height: 100vh;
	width: 50%;
	background: url(../img/montanhas.jpg);
	background-position: bottom center;
}

.tourism{
	float: right;
	height: 100vh;
	width: 50%;
	background: url(../img/img.jpg);
	background-position: bottom right;
}

.fundo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 50%;
    background: rgba(190, 122, 121, .7);
 
}

.principal{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    padding-left:2.1%;
    padding-top: 4.5%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.img{
	display: table;
	position: absolute;
	bottom: 8rem;
	left: 47.5%;
	height: 7.3rem;
	width: 7.3rem;
	border: 8px solid white;
	border-radius:50%; 
	background: url(../img/img-re.jpg);
}

.center{
	width: 100%;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.play{
	width:26px;
}

h1{
	font-family: 'Playfair Display', serif;
	font-size:7rem;
	color: white;
}

.linha{
	display: inline-block;
	float: left;
	margin: 0 4%;
	height: 20rem;
	border-left: 2px solid white;
}

.numero{
	color:white;
	font-size: 2.8rem;
	float left;
	padding-left: 2%;
	float: left;
}

.texto{
	font-size: 1.8rem;
	color:white;
	text-transform: uppercase;
	transform:rotate(270deg); 
	
	position: absolute;
	top:18%;
	left:5%;
}

.elevation{
	color: white;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.ponto{
	font-size: 5rem;
	padding: 0 2%;
}

.p-tourism{
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
	width: 50%;
    padding-top: 2%;
    padding-left:1.8%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.imagens{
	
	clear: right;
}

.imagens img{
	float: right;
    margin-left:2%;
    padding-top: 3%;
    padding-bottom:4%;
}

.inc{
	padding-left:2%;
}

.inc i {
    color:rgb(118,77,111);
    font-size: 2rem;
    margin: 0 .15rem;
}

.inc .incone {
    color:rgba(118,77,111,.5);
}

.inc-mini{
	float: right;
	padding: 0 2.5%;
}

.inc-mini .grande{
	font-size: 3rem;
	line-height: .4;
}

.inc-mini i{
	color:rgb(255,255,255);
    font-size: 2rem;
    line-height: .4;
    display: block;
}

.tourism-texto{
	clear: right;
}

h2{
	font-family: 'Playfair Display', serif;
	font-size:4rem;
	color:rgb(118,77,111);
	margin: 4% 0;
}

p{
	display: inline-block;
	color:rgb(118,77,111);
	margin-left:1%;
	width: 73.9%;
	font-size:1.6rem;
}

.linha1-tourism{
 	float: left;
}

.linha1-tourism hr{
	background-color: rgb(118,77,111);
	border-color:rgb(118,77,111);
}

.rodape{
	clear: right;
	position: absolute;
	bottom: 3%;
	left: 15%;
	width: 85%;
}

.linha-tourism hr{ 
	display: inline-block;
	border-color:rgb(190, 122, 121);
	background-color:rgb(190, 122, 121);
}

.linha-tourism{
	margin-right:5px;
}

.view{
	text-transform: uppercase;
	color: rgb(190, 122, 121);
	font-weight: 600;
}

.rodape .fa{
	font-size: 2.1rem;
	color: rgb(118,77,111);
	margin-left:2%; 
}

.incone-he{
	text-align: right;
}

.rodape .seta{
	margin-right: 2.5%;
	margin-left:16%; 
	color: white;
}

@media screen and (max-width: 1040px) {
  .ponto {
    font-size: 3rem;
	}

	.elevation{
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 970px) {
	html,body{
		font-size: 7px;	
	}

	.imagens img {
		width: 24%;
	}

	.imagens .img1{
		width: 18%;
	}
}

@media screen and (max-width: 670px) {
	html,body{
		font-size: 5px;	
	}

	p{
		width: 50%;
	}

	.linha hr{
		width: 10%;
	}

	.linha1-tourism hr{
		width: 31px;
	}

	.linha-tourism hr{
		width: 23px;
	}
}

@media screen and (max-width: 450px) {
	h1{
		font-size: 5rem;
	}
}